<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<configuration>
    <property name="LOG_HOME" value="/Users/shyamsundarreddy/Documents/logs" />
    
    <appender name="LOG-FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/SSReddy.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{dd-MMM-yyyy;HH:mm:ss:SSS Z} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>
                ${LOG_HOME}/archived/SSReddy.%d{dd-MMM-yyyy}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="LOG-FILE" />
    </appender>
    
    <logger name="com.kkjava.book.ticket.app" level="debug" additivity="false">
        <appender-ref ref="ASYNC" />
    </logger>
    
    <root level="error">
        <appender-ref ref="ASYNC" />
    </root>  
</configuration>
